Appunti_ISW2/out/*.aux
Appunti_ISW2/out/*.log
Appunti_ISW2/out/*.out
Appunti_ISW2/out/*.toc
Appunti_ISW2/out/*.synctex.gz
Appunti_ISW2/out/*.fdb_latexmk
Appunti_ISW2/out/*.fls
Appunti_ISW2/out/*.bbl
Appunti_ISW2/out/*.blg
Appunti_ISW2/out/*.run.xml
Appunti_ISW2/out/*.bcf